body {
    width: 60vw;
    margin: 0 auto;
  }
  .container-article {
    display: flex;
    justify-content: center;
    gap: 20px 3%;
    flex-wrap: wrap;
}
  
  .container {
    padding: 75px 0;
    margin: 0 auto;
    width: 100%;
  }
  
  h1 {
    position: relative;
    margin-bottom: 45px;
    font-family: "Oswald", sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    color: #424242;
  }
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: flex 0.8s ease;
  }
  .item-style {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 0.8s ease;
  }
  .item-result {
    flex-basis: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 0.8s ease;
  }
  .item:hover {
    flex: 5;
  }
  .item-style:hover {
    flex: 5;
  }
  
  .item-1 {
    background-image: url("https://images.unsplash.com/photo-1499198116522-4a6235013d63?auto=format&fit=crop&w=1233&q=80");
  }
  
  .item-2 {
    background-image: url("https://images.unsplash.com/photo-1492760864391-753aaae87234?auto=format&fit=crop&w=1336&q=80");
  }
  
  .item-3 {
    background-image: url("https://images.unsplash.com/photo-1503631285924-e1544dce8b28?auto=format&fit=crop&w=1234&q=80");
  }
  
  .item-4 {
    background-image: url("https://images.unsplash.com/photo-1510425463958-dcced28da480?auto=format&fit=crop&w=1352&q=80");
  }
  
  .item-5 {
    background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?auto=format&fit=crop&w=1234&q=80");
  }
  
  .social {
    position: absolute;
    right: 35px;
    bottom: 0;
  }
  .social img {
    display: block;
    width: 32px;
  }
  
  .nav {
    width: 100%;
}

.logo {
    float: left;
    width: 150px;
    height: 50px;
  margin: 0;
  padding: 0;
}

.container-nav {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;

}

.nav-bar {
    float: right;
}

.nav-bar ul li {
    float: left;
    list-style-type: none;
    padding: 10px;
    margin: 0 5px;
    background-color: tomato;
    font-size: 14px;
    border-radius: 5px;

    transition: all 0.5s ease-out;
}

.nav-bar ul li:hover {
    background-color: wheat;
}

a {
    color: white;
    text-decoration: none;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #347ce9;
  box-shadow: 0px 15px 20px rgba(2, 157, 247, 0.4);
  color: #fff;
  transform: translateY(-7px);
}