/* body {
    padding: 5%;
} */

.user_flex {
    display: flex;
}

.user_flex > p{
    font-size: 30px;
    margin: 0;
}

.user_label {
    padding-left: 120px;
    font-size: 30px;
}

.rank_label {
    padding-left: 120px;
    font-size: 30px;
    padding-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px 3%;
    flex-wrap: wrap;
}

.like {
    text-align: center;
    font-size: 20px;
}

.item {
    overflow: hidden;
}
      
.item img {
    transition: all 0.2s linear;
    height: 340px;
}

.item:hover img {
    transform: scale(1.4);
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #347ce9;
    box-shadow: 0px 15px 20px rgba(2, 157, 247, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.nav {
    width: 100%;
}

.logo {
    float: left;
    width: 150px;
    height: 50px;
  margin: 0;
  padding: 0;
}

.container-nav {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;

}

.nav-bar {
    float: right;
}

.nav-bar ul li {
    float: left;
    list-style-type: none;
    padding: 10px;
    margin: 0 5px;
    background-color: tomato;
    font-size: 14px;
    border-radius: 5px;

    transition: all 0.5s ease-out;
}

.nav-bar ul li:hover {
    background-color: wheat;
}

a {
    color: white;
    text-decoration: none;
}